DB_USER=postgres
DB_PASSWORD=password123
DB_HOST=localhost
DB_PORT=5432
DB_NAME=c2c_db
PORT=3000
NODE_ENV=development

JWT_KEY=6696adcf9df8b4186d767045aabd6894c5037c0b9ce6551d6c0cd0b99f5164e6
JWT_EXPIRES_IN=24h

EMAIL_USER=
EMAIL_PASS=

DEFAULT_PASSWORD=LDCE@123

MAX_REQUESTS=100
WINDOW_SIZE=3600

REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_URL=
REDIS_PASSWORD=

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash